<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Batch finder</title>
    <link rel="stylesheet" type="text/css" href="./style0.css" />
</head>

<body>
    <div class="loginbox">
        <img style="height: auto; width: auto; max-width: 300px; max-height: 300px;" src="company_logo.png" class="company-logo" />
        <h1>404 - Page not found &nbsp;&nbsp;:(</h1>
        <input type="button" class="register-button" name="register" value="Go home" onclick="window.location.href='/'" style="display: block;">
    </div>
</body>
</html>